@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');

:root {
  --colorWhite: #ffffff;
  --colorPink: #DB2777;
  /* --navigationWidth: 240px;
  --navigationWidthCollapsed: 80px; */
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  scroll-behavior: smooth;
}

.bgPink {
  background-color: var(--colorPink);
}

.colorPink{
  color: var(--colorPink);
}

.outlin input:focus-within~label,
.outlin input:not(:placeholder-shown)~label {
  @apply transform scale-75 -translate-y-4 z-0 mb-3 mt-3 px-1 py-0;
}

.rounded-br-5xl{
  border-radius: 0px 70px 0px 0px;
}

@media screen and (min-width: 768px) {
  .rounded-br-5xl{
  border-radius: 0px 0px 120px 0px;
}
}

.rounded-br-4xl{
  border-radius: 0px 70px 0px 0px;
}

@media screen and (min-width: 1280px) {
  .rounded-br-4xl{
    border-radius: 0px 0px 120px 0px;
  }
}

.font-cookie{
  font-family: 'Cookie', cursive;
}

/* @media (min-width: 768px) {
  .bgLogin {
    background-color: var(--colorBgLogin);
    border-radius: 0px 0px 100px 0px;
  }
} */

/* .inputLogin {
  font-size: .9rem;
  font-weight: normal;
  background: #fff;
  border: 1px solid #D9E2EE;
  border-radius: 5px;
}

.btnLogin {
  background: #DB2777;
  box-shadow: 0px 10.4502px 23.2228px -6.96683px #DB2777;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}*/